Web Services/HW02 - WCF/StringsTestConsumer.Console/Service References/IISServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FindStringRepetitionInTargetString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toCheck" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStringRepetitionInTargetStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindStringRepetitionInTargetStringResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>